* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {

    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
.logo {
    height: 100px;
    width: 100px;
}

.logo-container,.nav-links,.cart {
    display: flex;
}

.logo-container {

    height: 100%;
    flex: 1;
}
.cart{
    flex: 1;
}
nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    margin-left: 20px;
    margin-right: 20px;
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}
.nav-link:hover {
    color: #32323f;
}
main {
    margin:0;
    padding: 0;
}
.Match {
    width: 90%;
    margin: auto;
}
.team-names1 {
    padding: 50px 0px 0px 0px;
    text-align: center;
    width: 90%;
    height: 100%;
}
.team-names {
    width: 90%;
}

.team-text h1 {
    text-align: center;
    color: #5f5f79;
    position: absolute;
    display: flex;
    font-size: 30px;
    font-weight: bold;
}
.team-text h2 {
    color: #5f5f79;
    position: absolute;
    display: flex;
    font-size: 18px;
    font-weight: bold;
}
.team-text1 h1 {
    text-align: center;
    color: #5f5f79;
    position: absolute;
    display: flex;
    font-size: 30px;
    font-weight: bold;
}
.team-text1 h2 {
    color: #5f5f79;
    position: absolute;
    display: flex;
    font-size: 18px;
    font-weight: bold;
}


.TastyNinjas {
    left: 35%;
    
}
.TastyNinjas1 {
    left: 35%;
    top: 43%;
}
.TastyNinjas2 {
    left: 35%;
    top: 75%;
}

.eagleEsport {
    right: 34.5%;
    top: 75%;

}
.place2beninja {
    right: 37.5%;
    top: 43%;
}
.ARROGUNZ {
    right: 38.5%;
}
.ergebniss {
    top: 25%;
    left: 47%;
}
.ergebnissh {
    top: 50%;
    left: 47%;
}
.ergebnisshh {
    top: 80%;
    left: 47%;
}
.Teamlogos,.Teamlogos1 {
    height: 100%;
    width: 90%;
    display: flex;
}


.Teamlogos {
    width: 90%;
    margin: auto;
    position: absolute;
    top: 25%;
}
.Teamlogos1 {
    width: 90%;
    margin: auto;
    position: absolute;
    top: 40%;
}

.Teamlogos img {
    filter: drop-shadow(0px 5px 5px black);
    animation: drop 1.5s ease;
}

.Teamlogo {
    position: absolute;
    border-radius: 50%;
}

.Teamlogo1 {
    position: absolute;
    border-radius: 50%;
}

.eagleEsport-logo {
    right: 37%;
    top: 60%;

}
.place2beninja-logo {
    right: 37%;
    top: 30%;
}
.ARROGUNZ-logo {
    right: 37%;
}

.TastyNinjas-logo {
    left: 33%;
    
}
.TastyNinjas1-logo {
    left: 33%;
    top: 30%;
}
.TastyNinjas2-logo {
    left: 33%;
    top: 60%;
}

.map {
    color: #5f5f79;

    font-weight: bolder;
    position: absolute;
    left: 46%;
    font-size: 18px;
}
.A {
    top: 29%;
    left: 45%;
}
.B {
    top: 31.5%;
    left: 45%;
}
.AA {
    top: 54%;
    left: 45%
}
.BB {
    top: 56.5%;
    left: 45%
}
.AAA {
    top: 84.5%;
    left: 45.5%;
}
.BBB {
    top: 87%;
    left: 45.5%;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
